
.painelPrincial{
    background:    #da6000;
    @apply p-8
}

.painelInferior{
    background: #da5e00a2;
    @apply p-4 text-center 
}
.painelInferiorFixo{
    background: #da5e00b0;
    @apply p-4 text-center drop-shadow-lg;


}

.links{
    @apply hover:underline text-white font-semibold
}